fastapi
uvicorn
python-multipart

langchain
langchain-community
langchain-huggingface

faiss-cpu
sentence-transformers

transformers
accelerate
torch

pypdf
python-docx

streamlit

python-dotenv

pypdf
python-docx
langchain-text-splitters